<article class="xviews xmentor xnew">
  <%= form_for(@mentor) do |f| %>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :value => @auth['info']['first_name']%>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, :value => @auth['info']['last_name'] %>

      <%= f.label :email; %>
      <%= f.text_field :email, :value => @auth['info']['dharinimadan@gmail.com'] %>

      <%= f.label :years_of_experience %>
      <%= f.number_field :years_of_experience %>

      <%= f.label :current_company %>
      <%= f.text_field :current_company, :value => @auth['info']['description'] %>

      <%= f.label :current_industry %>
      <%= f.text_field :current_industry %>

      <%= f.label :linkedin_link %>
      <%= f.text_field :linkedin_link, :value => @auth['info']['urls']['public_profile'] %>

      <div class="diversity">

      <%= f.label :race %>
      <%= f.text_field :race %>

      <%= f.label :gender %>
      <%= f.text_field :gender %>

      <%= f.label :socioeconomic_background %>
      <%= f.text_field :socioeconomic_background %>

      <%= f.label :orientation %>
      <%= f.text_field :orientation %>

	    </div>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :interests %>
      <%= f.text_field :interests %>

      <%= f.label :availability %>
      <%= f.datetime_field :availability %>

      <%= f.label :other %>
      <%= f.text_field :other %>
    </div>
    <%= user = User.find_by(uid: @auth['uid']) %>
    <%= user.name %>
    <%= f.hidden_field :user_id, value: user.id %>
    <div class="xbuttons">
      <%= f.submit %>
    </div>
  <% end %>
</article>

