
<article class="xviews xmatches xshow">
<% if current_user && user_type == "mentee" && get_user.id == @mentee.id %>
	<h2>My Match: <%= @match.mentor.first_name + " " + @match.mentor.last_name %></h2>
		<%# render partial: "/mentees/mentor_deets_card", locals: { a_match: @match.mentor } %>
		<h4>Some of <%= @match.mentor.first_name%>'s details:</h4>
		<ul>
			<li>Years of experience: <%=@match.mentor.years_of_experience %></li>
			<li>LinkedIn Profile: <span><%= link_to @match.mentor.linkedin_link, "#{@match.mentor.linkedin_link}"%></li>
			<li>Email: <%=@match.mentor.email %></li>
			<li>Race / Ethnicity: <%=@match.mentor.race %></li>
			<li>Gender: <%=@match.mentor.gender %></li>
			<li>Orientation: <%=@match.mentor.orientation %></li>
			<li>Socioeconomic background: <%=@match.mentor.socioeconomic_background %></li>
			<li>Primary Location: <%=@match.mentor.location %></li>
			<li>Interests: <%=@match.mentor.interests %></li>
			<li>This mentor is currently in good standing: <%=@match.mentor.good_standing %></li>
		</ul>

		<h3>Schedule an Appointnment</h3>
		<%= render 'appointments' %>

		<!-- TODO nice to have: make appt request if none served -->
	<% else %>
		<p>These matches are not yours.</p>
	<% end %> 
</article>
