<article class="xviews xmatches xshow">
	<h2>My Match: <%= @match.mentor.first_name + " " + @match.mentor.last_name %></h2>

		<h4>Some of <%= @match.mentor.first_name%>'s details:</h4>
		<ul>
			<li>Years of experience: <%=@match.mentor.years_of_experience %></li>
			<li>LinkedIn Profile: <span><%= link_to @match.mentor.linkedin_link, "#{@match.mentor.linkedin_link}"%></li>
			<li>Email: <%=@match.mentor.email %></li>
			<li>Race / Ethnicity: <%=@match.mentor.race %></li>
			<li>Gender: <%=@match.mentor.gender %></li>
			<li>Orientation: <%=@match.mentor.orientation %></li>
			<li>Socioeconomic background: <%=@match.mentor.socioeconomic_background %></li>
			<li>Primary Location: <%=@match.mentor.location %></li>
			<li>Interests: <%=@match.mentor.interests %></li>
			<li>This mentor is currently in good standing: <%=@match.mentor.good_standing %></li>
		</ul>

		<!-- TODO render appt partial  -->
		<%= render 'appointments' %>

		<!-- TODO nice to have: make appt request if none served -->
</article>
