<!DOCTYPE html>
<html>
  <head>
    <title>Common Context</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified JavaScript -->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield :head %>
  </head>
  <body>
  <style type="text/css">
    html {
      background: url(<%= randomized_background_image %>) no-repeat center center fixed; 
    }
  </style>
  <%= render '/nav' %>
  <% flash.each do |key, value| %>
    <div class="alert alert-info"><%= value %></div>
  <% end %>
  <%= yield %>


  </body>
</html>
